@use "vars"
@use "colors"
@use "markdown"
@use "project"

@font-face
	font-family: 'Cascadia Code'
	src: url('/woff/CascadiaCode.woff2')

html, body
	margin: 0
	height: 100%
	width: 100%
	background-color: #111
	font-family: 'Cascadia Code', monospace

a:hover
	text-decoration: underline !important

#app
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	height: 100%
	padding: 20px
	box-sizing: border-box






